<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.home">

<select id="getCartItem" parameterType="String" resultType="model.CartItem">
select code, name, price from mysweet_items 
where code=#{code}
</select>

<update id="updateItem" parameterType="model.Item">
update mysweet_items set 
name=#{name}, price=#{price}, info=#{info} 
where code = #{code}
</update>
<delete id="deleteItem" parameterType="String">
delete from mysweet_items where code = #{code}
</delete>

<select id="getItemByCode" parameterType="String" resultType="model.Item">
select code, name, price, to_char(reg_date, 'YYYY-MM-DD HH:MI:SS') "reg_date", info 
from mysweet_items where code = #{code} 
</select>

<select id="getItemsCount" resultType="Integer">
select count(*) from mysweet_items
</select>

<select id="getAllItems" parameterType="model.FromTo" resultType="model.Item">
select code, name, price, r_date "reg_date"
from (select rownum rn, code, name, price, r_date
from (select code, name, price, to_char(reg_date, 'yyyy-mm-dd') r_date
from mysweet_items order by r_date desc ))
where rn > #{start} and rn <![CDATA[<]]> #{end}

</select>
<insert id="putItem" parameterType="model.Item">
insert into mysweet_items values(
#{code},#{name},#{price},#{info},sysdate)
</insert>

<select id="checkItemCode" parameterType="String" resultType="Integer">
select count(*) from mysweet_items where code = #{id}
</select>

<update id="updateNotice" parameterType="model.Notice">
update mysweet_notice set 
title = #{title}, content = #{content} 
where seqno = #{seqno}
</update>
<delete id="deleteNotice" parameterType="Integer">
delete from mysweet_notice where seqno = #{id}
</delete>

<select id="getNoticeDetail" parameterType="Integer" resultType="model.Notice">
select seqno, title, writer, 
to_char(reg_date, 'yyyy-mm-dd HH:MI:SS') "reg_date", content 
from mysweet_notice where seqno = #{id}
</select>

<select id="getNoticeCount" resultType="Integer">
select count(*) from mysweet_notice
</select>

<select id="getAllNotice" parameterType="model.FromTo" resultType="model.Notice">
select seqno, title, writer, r_date "reg_date"
from (select rownum rn, seqno, title, writer, r_date
from (select seqno, title, writer, to_char(reg_date, 'yyyy-mm-dd') r_date
from mysweet_notice order by seqno desc))
where rn > #{start} and rn <![CDATA[<]]> #{end}
</select>

<insert id="putNotice" parameterType="model.Notice">
insert into mysweet_notice values(
#{seqno},#{title},#{writer},sysdate,#{content})
</insert>
<select id="getMaxNoticeNo" resultType="Integer">
select max(seqno) from mysweet_notice
</select>

<insert id="putBBS" parameterType="model.Bbs" >
insert into mysweet_bbs values(#{seqno},#{title},#{writer},sysdate,#{content})
</insert>
<select id="getMaxSeqno" resultType="Integer">
select max(seqno) from mysweet_bbs
</select>

<select id="getBBSDetail" parameterType="Integer" resultType="model.Bbs">
select seqno,title,writer, 
to_char(reg_date,'YYYY-MM-DD HH24:MI:SS') "reg_date", content 
from mysweet_bbs 
where seqno = #{id}
</select>
<select id="getBBSCount" resultType="Integer">
select count(*) from mysweet_bbs
</select>
<select id="getBBS" parameterType="model.FromTo" resultType="model.Bbs">
select seqno, title, writer, reg_date 
from ( select rownum rn, seqno, title, writer, reg_date from 
(select seqno, title, writer, to_char(reg_date, 'YYYY-MM-DD HH24:MI:SS') reg_date 
from mysweet_bbs order by seqno desc ) ) 
where rn > #{start} and rn <![CDATA[<]]> #{end} 
</select>

<insert id="putUser" parameterType="model.Member">
insert into mysweet_users values(
#{id},#{pwd},#{name},#{addr},#{tel},#{gender},#{email},#{job},sysdate)
</insert>
<select id="getId" parameterType="String" resultType="String">
select id from mysweet_users where id = #{id}
</select>
<select id="getPwd" parameterType="String" resultType="String">
select pwd from mysweet_users where id=#{id}
</select>
</mapper>